// ------------------------------------------------------------
// Compare Package pages- Adult and Corporate
//
// Styling specific to the Adult and Corporate Packages Pages.
// ------------------------------------------------------------
// Slug: '/adult-packages'
// ------------------------------------------------------------
.adult-packages, .corporate-packages{
	.three-step-process{
		padding: 3% 15px;
		margin-bottom: 50px;

		div{
			ul{
				text-align: center;
				li{
					display: inline-block;
					h6{
						font-size: 2em !important;
						span{
							font-family: sans-serif;
							font-size: 2.500rem;
							font-weight: bold;
						}
					}
					p{
						margin-top: 0;
					}
				}
			}
			@media(max-width: 991px){
				ul{
					li{
						h6{
							font-size: 1.750rem !important;
							text-align: center;
							span{
								font-size: 1.8rem !important;
							}
						}
					}
				}
			}
		}
	}
	.adult-corporate-packages__headline{
		@media(max-width: 991px){
			text-align: center	
		}
	}
}

.adult-corporate-packages__main-content{
	margin-bottom: 100px;
}

.adult-corporate-packages__packages{
 	padding: 5% 0;

 	.adult-corporate-packages__packages__filter{
		background: white;
		border: 3px solid $yellow;
		padding: 0;
		@media(min-width: 1199px){
			width: 22%;	
		}
		@media(max-width: 991px){
			display: none;
		}
		
		li{
			width: 100%;
			padding: 8% 0 8% 0 !important;
			&:not(:last-of-type){
				border-bottom: 2px solid $yellow;
			}
			&.ui-state-active, .ui-tabs-active{
				background: $yellow;
				margin: -1px 0;
				a{
					color: white;
				}
			}
			a{
				width: 100%;
				color: $darkGray;
				h5{
					margin-bottom: 0 !important;
					padding: 0;
					font-size: 1.333rem;

					i{
						position: absolute;
						right: 3%;
						font-size: 2.250rem;
						top: 50%;
						transform: translateY(-50%);
					}
					@media(max-width: 1199px){
						font-size: 1.000rem;
					}
				}
				p{
						margin: 5px 0 0 0 !important;
					}
			}
		}
	}
	.adult-corporate-packages__packages__content{
		padding-left: 0 !important;
		padding-right: 0 !important;

		.adult-corporate-packages__packages__content__categories__headline{
			h4{
				margin-bottom: 5px !important;
			}
			p{
				margin-top: 0 !important;
			}

			@media(max-width: 767px){
				text-align: center;
			}
		}
	}
}
.adult-corporate-packages__packages__package{
	margin-bottom: 20px;
	@media(min-width: 768px){
		margin-bottom: 50px;
	}
}
.adult-corporate-packages__packages__filter--select__container{
	h6{
		margin: 15px 0 5px 0;
		text-align: center;
	}
}
.adult-corporate-packages__packages__filter--select{
	height: 50px;
	background: white;
	outline: none;
	border-radius: 0;
	border: 2px solid $darkGray;
	margin: 5px 0 30px 0;
}

.corporate-packages__contact-us{
	margin: 100px auto;
	padding: 2% 4%;
	background: $darkGray;
	.left{
		color: white;
		p{
			width: 80%;
			color: $lightGray;
		}
	}
	.right{
		button{
			transform: translateY(20%);
			margin-top: 0;
		}
	}

	@media (max-width: 991px){
		padding: 10% 4%;
		.left{
			text-align: center;
			p{
				width: 100%;
			}
		}
		.right{
			button{
				display: block;
				margin: 0 auto;
				margin-bottom: 0 !important;
				transform: translateY(0);
			}
		}
	}
}
