// ------------------------------------------------------------
// Home Page
//
// Styling specific to the content area of the Home Page.
// ------------------------------------------------------------
// Slug: '/home'
// ------------------------------------------------------------

.home__hero {
	img {
		display: block;
		margin: 0 auto;
		padding-bottom: 50px;
	}
}
.home__headline{
	text-align: center;
	margin-bottom: 5px !important;
	span{
		font-family: "Interstate Black Cond" !important;
	  	font-style: normal;
	  	font-weight: normal;
	  	font-size: 4.500rem !important;

	  	small{
		    font-size: .500em;
		    color: $darkGray;
		    vertical-align: super;
		 }
  	}

	@media(min-width: 769px){

		&:before {
			content: "";
			display: block;
			border-top: 3px dashed $yellow;
			width: 100%;
			height: 1px;
			position: absolute;
			left: 0;
			top: 67%;
			z-index: 1;
		}
		span {
			background: #fff;
			padding: 0 20px;
			position: relative;
			text-transform: capitalize !important;
			z-index: 5;
		}
	}
}
.home__sub-headline{
	text-align: center;
	font-size: 2.250em;
	font-family: 'Interstate Condensed';
}

.home__getting-started {
	background: $darkGray;
	margin-top: 50px;
	padding: 20px 1%;

	.home__getting-started__headline{
		margin-top: 20px;
		color: $lightGray;

		p{
			margin-top: 0 !important;
		}
	}

	.home__getting-started__steps {
		text-align: center;
	
		ul{
			li{
				padding-top: 20px;
				h3{
					color: $lightGray;
				}
				h5{
					color: $yellow;
					margin-bottom: 8px !important;
				}
			}
		}
	}

	@media(max-width: 767px ){
		.home__getting-started__headline {
			margin-top: 20px;
			text-align: center;
		}
		.home__getting-started__steps {
			img {
				margin-top: 40px;
			}
		}
	}
}

.home__learn-more {
	margin-top: 50px;
	p {
		padding-left: 0 !important;
		}
	section {
		margin-top: 30px;
		}

	.container-fluid{
		padding: 0;

		.home__learn-more__video {
			height: 200px;
			padding: 0;
			cursor: pointer;

			@media(max-width: 767px){
				width: 100%;
				margin-bottom: 10px;
			}
		}

		.home__learn-more__panel {
			background: $lightGray;
			color: white;
			padding: 15px 20px !important;
			text-transform: uppercase;
			margin-left: 1%;
			overflow: hidden;
			@media(min-width: 768px){
				height: 200px;
			}
			@media(max-width: 767px){
				width: 100%;
				margin-left: 0;
			}
			ul{
				padding-top: 10px;
				li{
					margin-bottom: 19px;
					padding-bottom: 0;
					padding-left: 25px;
					text-indent: -5px;
					p{
						text-transform: capitalize !important;
						margin: 0 !important;
						padding: 0 !important;
						font-family: "Interstate Condensed";
						font-size: 1.100rem !important;
					}
				}
			}
		}

	}
}

.home__locate {
	background: $yellow;
	padding: 40px 0;
	margin-top: 50px;

	div {
		text-align: left;

		h3{
			margin-bottom: 0;

			@media(max-width: 767px){
				margin-bottom: 25px;
				text-align: center;
			}
		}
		.home__locate__cta{
			text-align: center;
			button{
				margin-bottom: 0;
			}
		}
	}	
}