// ------------------------------------------------------------
// Adult Training Page
//
// Styling specific to the content area of the Adult Training Page.
// ------------------------------------------------------------
// Slug: '/adult-training'
// ------------------------------------------------------------
.teen-driving-course{
	.three-step-process{
		padding: 3% 15px;
		@media(max-width: 991px){
			padding: 10% 15px;
		}

		div{
			img{
				margin-bottom: 15px !important;
				width: 45px;
			}
			h2{
				margin-bottom: 35px !important;
				@media(max-width: 767px){
					text-align: center;
				}

			}

			ul{
				text-align: center;
				li{
					display: inline-block;

					h6{
						font-size: 2em;
					}
					p{
						margin-top: 0;
					}
				}
			}
		}
	}

	.adult-training__testimonials{
		padding: 3% 15px;
		h2{
			margin-bottom: 25px !important;
		}
		ul > li{
			padding-left: 0;
			q{
				font-family: sans-serif;
				font-weight: bold;
			}
			p{
				margin-top: 0 !important;
			}
		}
	}
}