// ------------------------------------------------------------
// Testimonials Page
//
// Styling specific to the content area of the Testimonials Page.
// ------------------------------------------------------------
// Slug: '/testimonials'
// ------------------------------------------------------------

.testimonials__intro{
	margin-top: 50px;

	p{
		padding: 0;
	}
}

.testimonials__grid{
	margin-bottom: 40px;
}

.testimonials__cta{
	display: block;
	margin: 0 auto;

}

.testimonials__parent,
.testimonials__corporate{
	background: $yellow;
	padding: 0 0 3% 0;

	blockquote {
  		border-left: 10px solid white;
	}
}
.testimonials__driver,
.testimonials__franchisee{
	padding: 0 0 3% 0;
}

// Target "Testimonials Headline"
.testimonials{
	.single_column_copy{
		padding: 2% 15px;
	}
}
