// ------------------------------------------------------------
// Video Archive Page
//
// Styling specific to the content area of the Video Archive Page.
// ------------------------------------------------------------
// Slug: '/video-archive'
// ------------------------------------------------------------

.video-archive{
	padding-top: 50px;

	.video-archive__video{
		padding: 3%;
		height: 300px;
		@media(min-width: 420px) and (max-width: 1199px){
			height: 350px;
		}
		margin-bottom: 25px;

		a{
			cursor: pointer;
			
			img{
				padding: 0;
				margin-bottom: 15px;
			}
		}

		
		p{
			margin-bottom: 0;
			margin-top: 10px;
		}
		p.lead{
			font-size: 1.500rem;
		}

	}
}