// ------------------------------------------------------------
// Framing
//
// Include styles for global elements. Base font, Body Styles, Spacing, etc.
//
// * Base Font
// * Body Styles
// * Site Wrapper
// * Container
// * Border Box
// * Vertical Spacing
// ------------------------------------------------------------

//
// Base Font
// --------------------------------------------------

html {
  font: #{($font-size-base/16px)*1em}/#{$line-height-ratio} $font-family-base;
  color: $black;
  width: 100%;
  overflow-y: scroll;
  min-height: 100%;
}

//
// Body Styles
// --------------------------------------------------

body {
  line-height: 27px;
  width: 100%;
  overflow-x: hidden;
}

//
// Site Wrapper
// --------------------------------------------------

.wrapper {
  @include clearfix;
  position: relative;
  width: $container-width;
  margin: 0 auto;
  padding-top: 90px;
}


//
// Border Box
// --------------------------------------------------

@if $border-box-global == true {
  * {
    &,
    &:before,
    &:after {
      @include vendor(box-sizing, border-box);
    }
  }
}

//
// Vertical Spacing
// --------------------------------------------------

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre {
  margin-bottom: $spacing-unit-base;
  margin-bottom: ($spacing-unit-base / $font-size-base)*1rem;
}

//
// Adjust anchor postion for fixed navbar
// ---------------------------------------------------
.anchor-location{
  padding-top:90px;
  margin-top: -90px !important;
}