// ------------------------------------------------------------
// Variables
//
// Global Variables- This will make life easier for you. Change things here, they change everywhere... if you use them. The power of Sass!
//
// * Border Box
// * Base Type
// * Secondary Type
// * Heading Type
// * Base Spacing Units
// * Container Width
// * Color Palette
// ------------------------------------------------------------

//
// Border Box
// --------------------------------------------------
$border-box-global:       true;

//
// Base Type
// --------------------------------------------------
$font-size-base: 			  12px;
$line-height-base: 			  18px;
$line-height-ratio: 		  $line-height-base / $font-size-base;
$font-family-base:       	  'helvetica neue' sans-serif;

//
// Secondary Type
// --------------------------------------------------
$font-size-small:         12px;
$font-size-lead:          20px;

//
// Heading Type
// --------------------------------------------------
$font-size-h1:           	36px;
$font-size-h2:           	28px;
$font-size-h3:           	20px;
$font-size-h4:           	24px;
$font-size-h5:           	18px;
$font-size-h6:           	$font-size-base;

//
// Base Spacing Units
// --------------------------------------------------
$spacing-unit-base:       $line-height-base;
$spacing-unit-half:       $spacing-unit-base / 2;

//
// Container Width
// --------------------------------------------------
$container-width:         960px;

//
// Color Palette- Obviously change these to fit your project. 
// You can use names like I've done here, or something like $mainColor, $secondaryColor. Whatever you like.
// ---------------------------------------------------------------------------------------------------------
$dark: 		#282728;
$blue: 		#A7C1C9;
$orange: 	#FF8F36;
$white:		#FFFFFF;
$black:		#000000;
