// ------------------------------------------------------------
// Reset
//
// An extended reset on top of Normalize.
//
// * Shared Spacing
// * Horizontal Rule
// * iFrame
// * Fieldset
// * Tabindex
// ------------------------------------------------------------

//
// Shared Spacing
// --------------------------------------------------

h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
hr {
  margin:0;
  padding:0;
}

//
// Horizontal Rule
// --------------------------------------------------

hr {
	border-bottom: none;
}

//
// iFrame
// --------------------------------------------------

iframe {
  border: 0;
}

//
// Fieldset
// --------------------------------------------------

fieldset {
	min-width: 0;
	border: 0;
}

//
// Tabindex
// --------------------------------------------------

[tabindex="-1"]:focus {
  outline: none !important;
}