// ------------------------------------------------------------
// Variables
//
// Lets define some global variables for this project.
//
// * Border Box
// * Base Type
// * Secondary Type
// * Heading Type
// * Base Spacing Units
// * Container Width
// * Color Palette
// ------------------------------------------------------------

//
// Border Box
// --------------------------------------------------
$border-box-global:       true;

//
// Base Type
// --------------------------------------------------
$font-size-base: 			  12px;
$line-height-base: 			  18px;
$line-height-ratio: 		  $line-height-base / $font-size-base;
$font-family-base:       	  'helvetica neue' sans-serif;

//
// Secondary Type
// --------------------------------------------------
$font-size-small:         12px;
$font-size-lead:          20px;
$font-family-alt:         'Rokkitt', serif;
$font-family-script:      'Wordy Diva W00 Reg', serif;

//
// Heading Type
// --------------------------------------------------
$font-size-h1:           	36px;
$font-size-h2:           	28px;
$font-size-h3:           	20px;
$font-size-h4:           	24px;
$font-size-h5:           	18px;
$font-size-h6:           	$font-size-base;

//
// Base Spacing Units
// --------------------------------------------------
$spacing-unit-base:       $line-height-base;
$spacing-unit-half:       $spacing-unit-base / 2;

//
// Container Width
// --------------------------------------------------
$container-width:         932px;

//
// Color Palette
// --------------------------------------------------
$black:                   #000000;
$darkGray:                #282828;
$lightGray:               #888b8d;
$red:                     #e4002b;
$yellow:				  #ffca18;
