/* Styling for 'Audiences' partial*/

.audiences{
	margin-top: 50px;

	.audiences__audience{
		padding-left: 35px;
		padding-right: 35px;
		margin-bottom: 30px;

		img{
			width: 200px;
			border-radius: 150px;
			display: block;
			margin: 0 auto;
			margin-bottom: 2.083rem;
		}
		.row{
			h5{
				text-align: center;
				margin-bottom: 0;
			}
			p{
				text-align: center;
				margin-top: 1.250rem;
			}
		}
		.container-fluid{
			button{
				display: block;
				margin: 0 auto;
			}
		}
		span{
			text-align: center;
			q{
				display: block;
				font-family: sans-serif;
				font-weight: bold;
				margin-bottom: 0;
			}
			span{
				font-size: 20px;
			}
		}
	}
}