/*
CONTENT BLOCK STYLING
*/

.content-block{
	padding: 6% 15px;

	@media(max-width: 767px){
		padding: 10% 15px;
	}

	button{
		@media(max-width: 767px){
			font-size: 1rem;
			margin-bottom: 0 !important;
		}
	}
	img{
		padding: 0;
		@media(max-width: 767px){
			margin-bottom: 4%;
		}
	}

	//&:last-of-type{
	//	border-bottom: 1px solid black;
	//}
}

.two_column_img_copy_cta{
		.left{
			padding-right: 50px;
			@media(max-width: 767px){
				padding-right: 15px;
			}
		}
		.right{
			padding-left: 50px;
			@media(max-width: 767px){
				padding-left: 15px;
			}
		}
}

.img_left_copy_cta_right{
		img{
			padding: 1% 15px;
		}
}

.code_left_copy_right{

	.code_left_copy_right__left{
		text-align: center;
		padding: 1%;

		img{
			padding: 3%;
		}
		button{
			margin-top: 25px;
		}
	}
}

.code_left_copy_right__left > div > span > h6 {
	color: red !important; 
	font-size: 3.600rem !important;
	font-weight: bold !important;

	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);

	@media(max-width: 991px){
			font-size: 2.500rem !important;
		}
}
.three_column_copy{
	p{
		width: 90%;
	}
	button{
		display: block;
		margin: 0 auto;
	}
}
.three-step-process{
	padding: 3% 15px;
	@media(max-width: 991px){
		padding: 10% 15px;
	}

	div{
		img{
			margin-bottom: 15px !important;
			width: 45px;
		}
		h2{
			margin-bottom: 35px !important;
			@media(max-width: 767px){
				text-align: center;
			}

		}

		ul{
			text-align: center;
			li{
				display: inline-block;

				h6{
					font-size: 2em;
				}
				p{
					margin-top: 0;
				}
			}
		}
		button{
			display: block;
			margin: 0 auto;
			margin-top: 40px;
		}
	}
}

.testimonials__block{
	padding: 3% 15px;
	h2{
		margin-bottom: 25px !important;
	}
	ul > li{
		padding-left: 0;
		q{
			font-family: sans-serif;
			font-weight: bold;
		}
		p{
			margin-top: 0 !important;
		}
	}
}