/*
ACCORDION STYLING
*/

.accordion{
	border-left: 2px solid $yellow;
	border-right: 2px solid $yellow;

	h3.accordion__header{
		font-size: 1.50rem !important;
		line-height: 35px;
		text-align: left;
		background: $yellow;
		border-top: 2px solid black;
		margin-top: 0 !important;
		height: 50px;
	
		&:hover, &:focus{
			outline: none;	
		}
		
		span{
			font-size: 2.500rem;
			position: absolute;
			right: 18px;
			top: 45%;
			transform: translateY(-50%);

		}
	}
	h3.top{
		border-top: none;
	}

	.accordion__body{
		padding: 0;
	}
	
	.ui-tabs{padding: 0 !important;}
	.accordion__body__side-tabs{
		padding: 0;
		margin-left: 0 !important;
		margin-top: 0 !important;

		h6{
			font-size: 1.500rem;
		}
		ul{
			background: white;
			padding: 0;

			li{
				margin: 0;
				width: 100%;

				&.ui-state-active, .ui-state-focus, .tabs-state-active{
						background: $lightGray; 
						a > h6{ color: black;}
				}

				a{
					width: 100%;

					h6{
						background: transparent !important;
						padding: 8px;
						text-align: left;
						margin: 0;
					}

				}
			}
		}
	}

	.accordion__body__tab-panel__content{
		color: black;
		font-size: 16px;
	}
}

@media(max-width: 768px){
	.accordion__body__tab-panel__content{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

//Rotate carets on open tabs
.rotate{
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.rotate.right{
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
.accordion .ui-icon { display: none !important;}
.accordion .ui-accordion-header a { padding-left: 0 !important; }