
.scroll-widget{
  margin-top: 15%;
  left: 96%;

  @media(max-width: 991px){
    display: none !important; 
  }
  //@media(min-width: 991px) and (max-width: 1199px){
    //left: 89%;
  //}
  transition: all .090s ease;
  
  border-radius: 25px;
  width: 35px;
  background: $lightGray;

  //&.floating{
    //transition: all .090s linear;
    //transform: translateX(450%);

    //@media(min-width: 991px) and (max-width: 1199px){
      //transform: translateX(200%);
    //}
  //}
  
  ul{
    li{
      margin: 18px 0;
      height: 20px; 
      width: 20px;
      border-radius: 10px;

      background: white;

      position: relative;
      right: .67%;
      a{
        display: inline-block;
        font-size: 1.500rem;
        padding-right: 10px;
        text-decoration: none;
        color: white;
      }
      &.active{
        background: $yellow;
        a{
          color: $yellow;
        }
      }
    }
  }

  @media(max-width: 991px){
    display: none;
  }
}
