

// Tooltip Styling
.teen-package-tooltip{
	padding: 1%;
	background: white !important;
	color: black;
	border: 3px solid $yellow;
	font-size: 1.250em;
	font-family: 'Interstate Condensed';
	cursor: pointer;
	text-align: center;
}

.scroll-widget-tooltip{
	background: white !important;
	color: $darkGray;
	border: 3px solid $lightGray !important;
	font-family: 'Interstate Condensed';
	font-size: 1.250em;
	padding: 10px;
}