// ------------------------------------------------------------
// Header
//
// Overhead styling for the header area of pages.
// ------------------------------------------------------------

//
// Header
// --------------------------------------------------

//**************//
// Top Nav Bar //
//************//
.header__top-row{
	height: 40px;
	line-height: 40px;
	background: white;



	// Desktop utility nav phone number
	.phone-number{
		font-family: sans-serif;
		font-size: 1.333rem;
		font-weight: bold !important;
		margin-top: 1px;
		text-align: right;
		a{
			text-decoration: none;
		}

		@media(max-width: 991px){
			display: none !important;	
		}
	}
}
.header__top-row__nav{
	list-style: none;
	margin: 0;
	text-align: right;
	height: 40px;
	background: white;

	li{
		display: inline-block;
		padding: 0 1.167rem;
		text-align: right;
		a{
			color: $darkGray;
			margin-bottom: 0 !important;
		}
	}
	.driver-login{
		font-family: sans-serif;
		background: $yellow;
		font-weight: bold;
		padding: .833rem 2.083rem;

		.fa-car{
			font-size: 20px;
		}

		&:hover{
			background: $darkGray;
			color: $yellow;
			a{
				color: $yellow;
				text-decoration: none;
			}
		}
	}

	@media(max-width: 768px){
		display: none;
	}
}


//**************//
// Main Nav    //
//************//
.navbar{
	background: $lightGray;
	border: none;
	border-radius: 0;
	box-shadow: 0 3px 3px  rgba(0, 0, 0, .3);
	text-align: left;
	@media(min-width: 992px){
		margin-top: 40px;	
	}

	.navbar-nav{

		li{
			height: 100%;

			a{
				height: 100% !important;
			}

			&:hover{
				background: $yellow;
				a {
					color: black !important;
				}
			}
		}
	}

	.navbar-header{
		position: relative;
		z-index: 1000;
		margin-left: 0;
		margin-right: 0;


			@media(max-width: 768px){
			position: fixed;
			z-index: 999;
			width: 100%;
			padding-right: 0;
			}
		
		.navbar-brand{
			img{
				top: 50%;
				transform: translateY(-45%);
				z-index: 999;

				@media(max-width: 991px){
					transform: translateY(-25%);
					width: 80%;
				}
				@media(min-width: 992px) and (max-width: 1199px){
					position: absolute;
					left: -30px;
					transform: translateY(-50%);
				}
			}
		}
		.navbar-toggle {
			background: transparent;
			border: none;
			font-size: 18px;

			// The "hamburger" button
			.icon-bar {
				background-color: black;
			}
		}
	}

	
}
// Center mobile menu items within "hamburger" menu.
#bs-example-navbar-collapse-1{
	margin-left: 0;
}


//**************************************//
//  Interior Page Headers/Hero Section //
//************************************//
.header__interior__container {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	.breadcrumbs {
		font-family: sans-serif;
		border-bottom: 1px solid black;
		margin-top: 25px;

		#breadcrumbs{
			margin: 10px 0 0 0;
		}

		.fb-like {
			margin-bottom: 2px;
			text-align: right;
		}
	}
	.header__interior__hero__container{
		border-bottom: 2px dashed $yellow;
		padding: 6.5% 0;
		display: block;
		overflow: auto;
		margin-bottom: 2%;

		@media(max-width: 991px){
			padding-top: 3.500rem;
		}
	}

	.header__interior__hero{

		.header__interior__hero__headline{
			display: block;
			margin: 0 auto;
			@media(max-width: 767px){
				text-align: center;
			}
	
			h1{
				margin-bottom: 0;
			}
			h6{
				font-size: 6rem;
			}
		}
		.header__interior__hero__image{
			img{
				width: 100%;
			}
		}
		.header__interior__hero__video{
			cursor: pointer;

			iframe{
				width: 100%;
			}
		}
		.copy-only-hero{
			text-transform: capitalize;
			position: relative;
			

			@media(min-width: 992px){
				padding-left: 3%;
			}
			@media(min-width: 992px) and (max-width: 1199px){
			    font-size: 5.000rem !important;
			    span{font-size: 3.750rem !important;}
			  }
			  @media(max-width: 991px){
			    font-size: 4.000rem !important;
			    span{font-size: 2.750rem !important;}
			  }
		}
		.copy_and_video{
			width: 100%;
		}
	}
}

//*****************//
// Dropdown Menu  //
//***************//
.dropdown-menu {
	background: $yellow;
	border-top: 1px solid black;
	box-shadow: none;
	-webkit-box-shadow: none;
	margin-bottom: 0.833rem;

	li {
		border-bottom: 1px solid black;
		color: black;
		padding: 0.833rem !important;
		@media(max-width: 991px){
			margin-left: 25px;
		}
		

		&:last-child {
			border-bottom: none;
		}

		a{
			font-size: 12px;
			font-weight: bold;
			padding: 3px 20px 3px 0;
		
			&:hover{
				background: inherit;
			}
		}			
	}
}
// Show dropdown on hover
.dropdown:hover .dropdown-menu {
	display: block;
	opacity: 1;

	@media(max-width: 991px){
		display: none;
	}
}

// Rotate arrow right on mobile, and rotate down when menu is open
@media(max-width: 991px){
	#menu-item-57 > a > span.caret{
		-moz-transition: all .15s linear;
	    -webkit-transition: all .15s linear;
	    transition: all .15s linear;
	    margin-bottom: 3px;
	}
	#menu-item-57 > a > span.caret.right{
		-ms-transform:rotate(-90deg);
	    -moz-transform:rotate(-90deg);
	    -webkit-transform:rotate(-90deg);
	    transform:rotate(-90deg);
		margin-bottom: 3px;
		-moz-transition: all .15s linear;
	    -webkit-transition: all .15s linear;
	    transition: all .15s linear;
	}
}



//***********************//
// Media Queries //
//*********************//
@media(min-width: 768px) and (max-width: 1199px){
	.navbar{
		
		.navbar-brand{
			img{
				padding-left: 2.500rem;
			}
		}
	}
	.navbar-nav{ }
	.navbar-nav > li > a {
		font-size: 11px;
		padding: 15px 10px;
	}
	.dropdown-menu{
		.menu-item a{
			font-size: 11px;
			padding: 0;
			text-align: left;
		}
	}
	
	// Left aligns utility nav on mobile with rest of menu
	#menu-top-nav-1{
		margin-left: 0;
	}
	/* Remove this if no problems occur
	body > header > nav > div{
		width: 100% !important;
	}
	*/
}

// Properly sizes and aligns navbar header and menu at these widths
@media(min-width: 768px) and (max-width: 991px){
	body > header > div.header__interior__container > nav > div{
		width: 100%;
	}
	#bs-example-navbar-collapse-1{
		padding-left: 0;
	}
	.header__interior__hero__headline{
		padding-left: 15px;
	}
}

@media(max-width: 991px){
	.header__top-row{
		display: none;
	}
	.navbar{
		#bs-example-navbar-collapse-1{ background: $lightGray;}
		.navbar-header{
			z-index: 999;
			width: 100%;
	}
	.sub-menu{
		background: white;
		color: $darkGray;

		li{
			border: none !important;
		}
	}
	@media(max-width: 767px){
	//Allows navbar to disappear when scrolling down on mobile- menu button background turns yellow and floats.
		&.fixed{
			background: transparent;
			box-shadow: none;
			position: fixed;
			width: 100%;
			z-index: 1000;
			
			.navbar-header > a > span.phone-number{
				opacity: 0;
			}
			.navbar-toggle{
				background: $yellow;
				border-radius: 0;
			}
				// Background color of entire mobile menu
				#bs-example-navbar-collapse-1{background: $lightGray;}
			}
		}
	}
	.header__interior__container .navbar--interior {background: transparent !important;}
	.navbar-nav {
		margin-top: 85px;
		background: white;
		z-index: 1000;

		.menu-item > a {
			color: $darkGray !important;
		}
	}
	.mobile-utility-nav{
		padding: 0;
		margin: 0 -15px;
		background: $lightGray;

		li{
			padding: 10px 15px;

				a{
				&:hover{
				text-decoration: none;
				}
				.phone-number{
					display: none;
				}
			}
		}
	}
	.dropdown{
		// Make background color of open drop down yellow.
		a.dropdown-toggle:focus{
			background: $yellow !important;
		}
		.sub-menu{
			position: relative;
			text-align: left;
			width: 100%;
		}
	}
	// Changes color of Utility Nav items to White on mobile
	#menu-top-nav-1 > li.menu-item.menu-item-type-post_type > a{
		color: white !important;
	}
	// Add black bottom border to main nav on mobile
	#menu-main-nav{
		margin-bottom: 0 !important;
		border-bottom: 1px solid black;
	}
	// Adjusts position of navbar brand 
	.navbar-brand{
		padding: 15px 0 !important;
	}
	// Style Driver Login/car list item on mobile
	.driver-login{
		background: $yellow;
		font-weight: bold;
		padding: .833rem 2.083rem;

		.fa-car{
			font-size: 20px;
		}
	}
	#menu-top-nav-1 > li.phone-number{
		display: none;
	}
	// Phone number in mobile header
	.phone-number{
		font-family: sans-serif;
		font-weight: bold;
		text-align: center;
		font-size: 16px;
		position: absolute;
		top: 27%;
		left: 50%;
		transform: translateX(-40%);
	}
}
/* Remove this line if no problems occur
.container-fluid{padding-left: 15px; padding-right: 15px; }*/

// Remove weird top border from mobile menu
.navbar-default div.navbar-collapse{
    border-top:none;
}

// Adjust to narrow or widen the mobile menu when in fixed postion- Set at -30px to go full width beyond padding.
.navbar-default.fixed div.navbar-collapse{
	margin-right: -30px;
}

// Rollover state of desktop main-nav dropdown
@media(min-width: 992px){
	.sub-menu.dropdown-menu{
		padding-top: 0;
		padding-bottom: 0;
		li:hover{
			background: $darkGray !important;
			a{
				color: $yellow !important;
			}
		}
	}
}




//************************//
//  Animated Menu Button //
//**********************//
.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 450ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}



