// ------------------------------------------------------------
// Forms
//
// Form styles.
//
// * Form
// * Form Item
// * Form Control
// * Form Type
// * Form Resets
// ------------------------------------------------------------

//
// Form
// --------------------------------------------------

form {
	border: none;
	width: 100% !important;

	label{
		margin-bottom: 0;
	}

	input,
	textarea,
	select{
		background: white !important;
		border: 2px solid #ccc !important;
		border-radius: 0 !important;
		box-shadow: none !important;
		outline: none !important;
		padding: 10px !important;
	}
}

//
// Form Item
// --------------------------------------------------

.form__item {
	margin-bottom: 10px;
}

//
// Form Control
// --------------------------------------------------

.form-control {
	// Base and Resets
	display: block;
	width: 100%;
	outline: none;
	line-height: normal;
	margin-top: 0;

	// Form Element Aesthetics
	background-color: #ccc;
	box-shadow:	inset 1px 1px 2px rgba(0,0,0,0.4);
	padding: 9px 13px 7px 13px;
	border: 1px solid darken(#ccc, 3%);
}

//
// Form Type
// --------------------------------------------------

label,
legend {
	display: block;
	width: 100%;
}

//
// Form Resets
// --------------------------------------------------

select {
	@include vendor(appearance, none);
	text-indent: 0.01px;
	text-overflow: '';
}
input[type="file"],
input[type="range"] {
	display: block;
}
input[type="range"] {
	width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	line-height: normal;
}