// ------------------------------------------------------------
// Typography
//
// All pure typography elements.
//
// * Paragraph
// * Small
// * Links
// * Headings
// ------------------------------------------------------------

//
// Paragraph
// --------------------------------------------------

p {
  font-size: 1.000em;
  margin-top: 2.250rem ;
  line-height: 1.833rem ;
}

//
// Small
// --------------------------------------------------

//
// Links
// --------------------------------------------------

a {
  color: black;
  text-decoration: none;
  text-shadow: none !important;

  &:hover {

  }
  img{
    cursor: pointer;
  }
}


//
// Headings
// --------------------------------------------------

h1 {
}
h2 {
}
h3 {
}

h4 {
}

h5,
button
  {
}

h6 {
}

q{
}


//
// Rules
// --------------------------------------------------

hr {
  border-top: none;
  border-bottom: 1px solid #ccc;
  margin-top: -1px;
  margin-bottom: 0;
}
