// ------------------------------------------------------------
// Buttons
//
// Things to click.
//
// * Button Base
// ------------------------------------------------------------

//
// Button Base
// --------------------------------------------------

.button {
  display: inline-block;
  border: none;
  margin: 0 0 28px 0;
  white-space: nowrap;
  outline: none !important;
  font-family: inherit;
  font-weight: bold;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  @include vendor(user-select, none);
  padding: 16px 35px;
  border-radius: 0;
  color: $black;
  background: $yellow;
  @media(max-width: 991px){
    margin-bottom: 35px !important;
  }

  /* UI States */
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
    background: $lightGray;
    color: black;
  }

  &:-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:disabled,
  &.disabled {
    cursor: default;
  }
}

.button--alt {
 
  color: $yellow;
  background: $black;

  /* UI States */
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
    background: $lightGray;
    color: $yellow;
  }
}

.button--icon {
  padding: 20px 20px;
  
  i {
    font-size: 1.667rem;
    font-weight: bolder;
    letter-spacing: 1px;
  }
}

.button--centered{
  display: block;
  margin: 0 auto;
}

//
