// ------------------------------------------------------------
// FAQs Page
//
// Styling specific to the content area of the FAQs Page.
// ------------------------------------------------------------
// Slug: '/faqs'
// ------------------------------------------------------------

.faq-question{
	font-weight: bold;
	margin-bottom: 3px;
}
.faq-answer{
	font-size: 14px;
}

.faqs__franchise{
	padding: 3%;
	background: $darkGray;
	color: white;
	margin-top: 50px;
	@media(max-width: 1199px){
		text-align: center;
		padding: 5% 2% 2% 2%;
		display: block;
		overflow: auto;
	}
	@media(max-width: 767px){
		padding: 10% 3% 3% 3%;
	}

	.faqs__franchise__left{
		padding: 0;
		position: relative;
		top: 50%;
	}
	.faqs__franchise__right{
		padding: 0;
		position: relative;
		top: 50%;
	}	

	button{
		font-size: 1.40rem;
		margin-top: 10px;
	}
}

@media(min-width: 1200px){
	.faqs__franchise{
		min-height: 150px;
		height: 150px;

		.faqs__franchise__left{
			transform: translateY(-35%) translateX(2%);
		}
		.faqs__franchise__right{
			transform: translateY(-50%);
		}

		button{
			position: absolute;
			top: 50%;
			transform: translateY(-50%) translateX(30%);
			margin-top: 0;
		}
	}
}


span.wpcf7-list-item{
	display: block;
}

#subject{
	width: 50%;
}