// ------------------------------------------------------------
// Join Our Team
//
// Styling specific to the content area of the Join Our Team page.
//
// ------------------------------------------------------------
// Slug: '/join-our-team'
// ------------------------------------------------------------

.join-our-team{
	img{
		padding: 0;
	}
	.join-our-team__safeway-university{
		div > div > a > img{
			padding: 0 75px 0 0;

			@media(max-width: 767px){
				margin-bottom: 0;
				padding: 0;
			}
		}

		p.lead{
			text-align: center;
			color: #777;
			font-style: italic;
			
			position: relative;
			transform: translateX(-10%);
		}

		button{
			margin-top: 40px;
		}
	}
}
