// ------------------------------------------------------------
// Locate Drive Sites page
//
// Styling specific to the content area of the Locate Drive Sites page.
//
// ------------------------------------------------------------
// Slug: '/locate-drive-sites'
// ------------------------------------------------------------

.locate-drive-sites__map-header{
	background: $yellow;
	color: white;
	padding: 2% 15px;
}

// Sidebar/Marker list styling
#wpgmza_marker_list_1{
	background: white;
	border: 2px solid $yellow;
	z-index: 999 !important;
	position: absolute !important;
	width: 22% !important;
	height: 500px;
	overflow-y: auto;
	transform: translateY(-110%) translateX(15%);
	
	.wpgmza_div_address{
		display: none;
	}

	h5{
		font-size: 1.500rem !important;
		padding: 5%;
		background: $yellow;
		i{
			margin-right: 10px;
		}
	}
	.wpgmaps_blist_row{
		margin: 20px 0 0 15px;
		padding: 2% 3%;
		font-family: sans-serif;
		font-weight: bolder;

		.wpgmza_div_title{
			font-family:  "Interstate Condensed";
			font-size: 1.250rem;
			cursor: pointer;

			span.marker-number{
				font-size: 1.750rem !important; 
				margin-right: 8%;
			}
		}
	}
} 

.wpgmza-basic-listing-image-holder{
	display: none;
}
.wpgmza-content-address-holder{

	img{
		display: none;
	}
	.wpgmza-address{
		font-weight: bold;
	}
}

//Info Window Styling
.wpgm-info-window{
	background: blue !important;
}
