// ------------------------------------------------------------
// Sitemap Page
//
// Styling specific to the content area of the Sitemap Page.
// ------------------------------------------------------------
// Slug: '/sitemap'
// ------------------------------------------------------------

.link-group{
	margin-bottom: 30px;

	ul{
		margin-top: 10px;
		margin-left: 10px;
		li{
			margin: 5px 0 10px 15px;
			ul{
				li{
					margin: 3px 0 0 20px;
					background: url(../img/yellow-bullet.png) no-repeat left top;
  					padding: 0 0 3px 20px;
				}
			}
		}
	}
}
