// ------------------------------------------------------------
// Mixins
//
// Some handy-dandy mixins.
//
// * Clearfix
// * Font Size
// * Headings
// * List Reset
// * Standard Prefixer
// * Animation Prefixer
// * Placeholder Prefixer
// ------------------------------------------------------------

//
// Clearfix
// --------------------------------------------------

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//
// Font Size
// --------------------------------------------------

@mixin font-size($font-size, $line-height:true) {
  font-size:$font-size;
  font-size:($font-size / $font-size-base)*1rem;
  @if $line-height == true {
    line-height:ceil($font-size / $line-height-base) * ($line-height-base / $font-size);
  }
}

//
// Headings
// --------------------------------------------------

@mixin headings($from: 1, $to: 6) {
  %base-heading {
    @content
  }
  @if $from >= 1 and $to <= 6{
    @for $i from $from through $to {
      h#{$i}{
        @extend %base-heading;
      }
    }
  }
}

//
// List Reset
// --------------------------------------------------

@mixin list-reset($margin-bottom:false) {
  list-style: none;
  margin-left: 0;
  @if $margin-bottom == false {
    margin-bottom: 0;
  }
}

//
// Standard Prefixer
// --------------------------------------------------

@mixin vendor($property, $value...) {
  -webkit-#{$property}:$value;
     -moz-#{$property}:$value;
      -ms-#{$property}:$value;
       -o-#{$property}:$value;
          #{$property}:$value;
}

//
// Animation Prefixer
// --------------------------------------------------

@mixin keyframe($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }

  @-moz-keyframes $animation-name {
    @content;
  }

  @-ms-keyframes $animation-name {
    @content;
  }

  @-o-keyframes $animation-name {
    @content;
  }

  @keyframes $animation-name {
    @content;
  }
}

//
// Placeholder Prefixer
// --------------------------------------------------

@mixin placeholder($color) {
  &::-moz-placeholder           { color: $color; opacity: 1; }
  &:-ms-input-placeholder       { color: $color; }
  &::-webkit-input-placeholder  { color: $color; }
}
