// Package Styling

.package {
	margin-bottom: 50px;
	text-align: center;

	img {
		height: 250px;
		width: 250px;
		border-radius: 125px;
		margin-bottom: 30px;
	}

	span{
		q{
			font-weight: bold;
		}
	}
}